<div class="row contact-content">

    <div class="col-6">
        {{ content }}
    </div>
    <div class="col-6">
       <p>Bokar Solutions Limited</p>
        <p>71-75 Shelton Street</p>
        <p>Covent Garden</p>
        <p>London</p>
        <p>WC2H 9JQ</p>
    </div>

</div>
