<div class="socialMedia">
    <h5>Share this page</h5>
</div>

<div class="filter-products hidden-lg-up">
    <small class="filter-label">Filter:
        <i class="fa fa-filter" aria-hidden="true"></i>
    </small>

</div>
<div class="search">
    <hr>
    <div class=" search-page-filter-form hidden-md-down">
        <h5 class="product-filter-title">Product filter</h5>
        {{ content }}
    </div>
</div>

<div class="search-page-filter hidden-lg-up">
    <i class="fa fa-times-circle-o close-menu hidden-lg-up" aria-hidden="true"></i>
</div>
