<div class="logo text-center">
    <a href="{{ url('<front>') }}" title="Preemie Baby ">
        <img src="/themes/custom/baby/img/heart.png" alt="Preemie Baby "/>
        <h1>Preemie Baby</h1>
    </a>
</div>