<div class="globalSocialMedia">
    <a class="social-icon smi icon-facebook"
       href="https://business.facebook.com/preemiebabyuk" target="_blank">
        <i class="fa fa-facebook-official"></i>
    </a>
    <a class="social-icon smi icon-twitter"
       href="https://twitter.com/bokarltd" target="_blank">
        <i class="fa fa-twitter"></i>
    </a>
</div>
