.contact-socialMedia-address {
  margin-top: 20px;
  .globalSocialMedia {
    text-align: left;
    margin-bottom: 20px;
  }
}

.contact-message-header{
  margin-top: 20px;
}

.webform-submission-contact-form {
  label {
    display: block;
   font-weight: bold;
    text-transform: capitalize;
    padding-top: 7px;
  }
  .button {
    text-align: center;
    @include font-size(17px);
    width: 226px;
    max-width: 100%;
    margin-top: 20px;
    border: 1px solid $kaky;
    background: $kaky none repeat scroll 0 0;
    text-transform: uppercase;
    color: $white;
  }
  input {
    max-width: 100%;
  }
  textarea {
    max-width: 100%;
  }
}
