$black:#000000;

$charcoal: #434343;
$grey52: #999999;
$grey80: #cccccc;
$grey87: #dedede;
$grey94: #f0f0f0;

$white:#ffffff;

$blue-gray: #207193;
$light-blue: #88e2f7;
$facebook-logo: #3B5998;
$twitter-logo:#1DA1F2;


$bright-red: #e35052;
$google-plus-logo: #dd4b39;
$pinterest-logo: #cb2027;
$linkedin-logo:  #007bb5;


$kaky: #c8b29b;
